.dash-container {
  height: 120vh;
  width: 100%;
}

.dashboard-header {
  color: white;
  font-size: 32px;
  text-align: center;
  margin-bottom: 80px;
  border-bottom: 1px solid white;
}

.headers-dash {
  display: flex;
  justify-content: space-around
}

.box-headers {
  color: white;
  font-size: 24px;
}

.boxes {
  display: flex;
  // width: 100%;
  margin: 0 auto;
  justify-content: space-around;
  height: 75%;
  margin-bottom: 24px;
}

.box-content {
  width: 100%;
}

.dash-box h2 {
  color: white;
  font-size: 22px;
}

.dash-box {
  width: 30%;
  height: 100%;
  margin: 16px;
  border-radius: 4px;
  // padding: 32px;

//   overflow: auto;
// }

// .kondo {
//   padding: 16px;
//   border-bottom: 1px solid grey;

//   .kondo-title {
//     font-size: 20px;
//   }
//   .kondo-desc {
//     font-size: 12px;
//   }
//   .kondo-status {
//     font-size: 12px;
//     margin-bottom: 0;
//     display: inline-block;
//   }

  overflow-y: auto;
  background-color: #AA6373;

}
