.card-product-three {
  overflow: hidden;
  height: 200px;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 4px;
}

.card-product-three img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product-three h2 {
  font-size: 16px;
  // padding-top: 4px;
  // padding-bottom: 4px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-product-three p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-three .card-product-infos {
  display: inline-block;
  padding: 16px;
}

.card-product-seller {
  margin-top: 20px
}

a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
  color: #AA6373;
}
