// Specific CSS for your home-page
.container {
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.search-container {
  display: flex;
}

button {
  background-color: transparent;
}

.input-group-append {
  background-color: white;
  border-radius: 0 19px 19px 0;
  // box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  padding: 6px;
}

#location.form-control.search {
  position: relative;
  vertical-align: top;
  border-radius: 19px 0 0 19px;
  display: inline-block;
  padding: 8px;
  width: 500px;
  border: 0;
  // box-shadow: 0 2px rgba(0,0,0,0.2);
  height: 50px;
}

.search-header {
  margin: 10px;
}

.info-blocks {
  display: flex;
  justify-content: space-between;
  color: white;
}

.info-blocks h2 {
  font-size: 24px;
  margin-left: 24px;
  margin-right: 24px;
  font-weight: normal;
}

.info-blocks p {
  font-size: 12px;
  display: block;
  margin: 0 24px 50px 24px;
}
