.random-container {
  height: 120vh;
  width: 95%;
  margin: 0 auto;
}

.kondos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.d-flex {
  align-items: center;
}

.fa-heart:before {
  padding-left: 8px;
}
