.split-icon {
  width: 250px;
  transition: width 0.5s ease;
  &:hover {
    width: 270px;
  }
}

.split-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  height: 100vh;

    p {
      color: $white;
    }
}

.option-container {
  height: 400px;
  width: 400px;
  text-align: center;
}
