.split-icon {
  width: 250px;
  margin: 50px;
}

.split-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;

    h5 {
      color: $white;
    }
}

.option-container {
text-align: center;
}
