<div class="navbar navbar-expand-sm kondo-nav">
  <a href="/" class="kondo-link"><strong>Kondo</strong>Kondo</a>
  <span id="open"><i class="fas fa-bars"></i></span>
  <div id="mySidenav" class="sidenav">
    <a class="closebtn" id="close">&times;</a>
    <a href="/">Home</a>
    <a href="/">Dashboard</a>
    <a href="#">Kondos</a>
    <a href="#">Found Gems</a>
    <a href="#">Messages</a>
  </div>
</div>
