<div class="main-container mt-5">
  <div class="row justify-content-center" style="margin-top: 150px">
  <% unless params[:location].present? %>
    <div class="search-bar col-12 col-lg-6">
      <div>
        <h5 class="search-header" style="font-weight: bold">Type in your location ...</h5>
        <%= form_tag root_path, class: "search-container", method: :get do %>
           <%= text_field_tag :location,
               params[:location],
               placeholder: "", class: "form-control search", autofocus: true
            %>
          <div class="input-group-append">
            <button class="button-search" type="submit"><i class="fas fa-search search"></i></button>
          </div>
         <% end %>
      </div>
    </div>
  <% end %>
  </div>

  <% if !params[:location].present? %>
  <i class="fas fa-angle-down homepage-arrow-down" id="homepage-arrow-selector"></i>
  <% end %>

  <% if params[:location].present? %>
    <h5 style="font-weight: bold; text-align: center">What do you want to do?</h5>
  <div class="split-container">
    <div class="option-container">
      <div>
        <%= link_to image_tag('rocket.svg', :class=>"split-icon"), new_kondo_path(:location => @location) %>
      </div>
      <div class="subtext-container">
        <p>Make a Kondo</p>
      </div>
    </div>
    <div class="option-container">
      <div>
        <%= link_to image_tag('map.svg', :class=>"split-icon"), kondos_path(:location => @location) %>
      </div>
      <div class="subtext-container">
        <p>Find Kondos nearby</p>
      </div>
    </div>
  </div>
  <% end %>

  </div>
  <div class="row info-blocks">
    <div class="block col-12 col-lg-4">
      <h2>Kon•do</h2>
      <p><em>/kondo/</em></p>
      <p><em>noun</em></p>
      <p><strong>1.</strong> an once beloved item that is not of use for the owner anymore and (s)he chooses to give away to someone else for free</p>
      <p><strong>2.</strong> an item of minor value that is still too good to be thrown away.
    </div>
    <div class="block col-12 col-lg-4">
      <h2>Kon•dor</h2>
      <p><em>/kondor/</em></p>
      <p><em>noun</em></p>
      <p><strong>1.</strong> a person who chooses to turn an item into a <strong>Kondo</strong> and offer it for free.</p>
    </div>
    <div class="block col-12 col-lg-4">
      <h2>kon•do•nate</h2>
      <p><em>/kondəʊˈneɪt/</em></p>
      <p><em>verb</em></p>
      <p><strong>1.</strong> the act of giving away an item for free to people in your neighborhood on <strong>konodokondo.de</strong></p>
    </div>
  </div>
