<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= form_tag kondos_path, class: "search-container", method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control search-home inline-form",
    placeholder: "Search location..."
  %>
  <%= submit_tag "Search", class: "btn btn-orange" %>
<% end %>
