<%= render 'shared/navbar' %>
<div class="container mt-5">
  <div class="d-flex-column justify-content-between">
    <div class="search-bar">
      <div>
        <h3>Type in your location</h3>
        <%= form_tag kondos_path, class: "search-container", method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            placeholder: "Search location..."
          %>
          <%= button_tag do %>
          <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="info-blocks row align-self-end">
      <div class="block-one">
        <h2>Find Treasures</h2>
        <p></p>
      </div>
      <div class="block-two">
        <h2>Reuse Locally</h2>
        <p></p>
      </div>
      <div class="block-three">
        <h2>Create a Community</h2>
        <p></p>
      </div>
    </div>

  </div>
</div>
