<div class="container mt-5">
  <div class="search-bar">
    <div>
      <h3>Scroll through your Hood</h3>
      <%= form_tag kondos_path, class: "search-container", method: :get do %>
         <%= text_field_tag :location,
             params[:location],
             placeholder: "Search location...", class: "form-control search"
          %>
<!--           <%= link_to kondos_path do %>
          <p><i class="fas fa-search search"></i></p>
          <% end %> -->
        <div class="input-group-append">
          <a href="/kondos"><button class="btn" type="button"><i class="fas fa-search search"></i></button></a>
        </div>
       <% end %>
    </div>
  </div>
  <div class="info-blocks row">
    <div class="block-one">
      <h2>Find Treasures</h2>
      <p></p>
    </div>
    <div class="block-two">
      <h2>Reuse Locally</h2>
      <p></p>
    </div>
    <div class="block-three">
      <h2>Create a Community</h2>
      <p></p>
    </div>
  </div>
</div>

