<div style="margin-top: 125px">
  <h5 style="font-weight: bold; text-align: center">What do you want to do?</h5>
</div>
<div class="split-container">
  <div class="option-container">
    <div>
      <%= link_to image_tag('rocket.svg', :class=>"split-icon"), new_kondo_path(:location => @location) %>
    </div>
    <div class="subtext-container">
      <p>Make a Kondo</p>
    </div>
  </div>
  <div class="option-container">
    <div>
      <%= link_to image_tag('map.svg', :class=>"split-icon"), kondos_path(:location => @location) %>
    </div>
    <div class="subtext-container">
      <p>Find Kondos nearby</p>
    </div>
  </div>
</div>
<div class="row info-blocks">
  <div class="block col-12 col-lg-4">
    <h2>Find old treasures</h2>
    <p>Did you ever scroll through your hood and found an old beautiful sofa lying around? With KondoKondo you know where to find the next gem.</p>
  </div>
  <div class="block col-12 col-lg-4">
    <h2>Reuse locally</h2>
    <p>Your neighbour might not like his old pair of shoes, but they are exactly what you've been looking for! We care about the environment and our future. KondoKondo makes reusing easy.</p>
  </div>
  <div class="block col-12 col-lg-4">
    <h2>Create a community</h2>
    <p>What if you'd realize that everything you need is already within reach? Connect with your neighbours and your hood by creating a strong community.</p>
  </div>
</div>
