<div>
  <h3>Step 2: Choose your action</h3>
</div>
<div class="split-container">
  <div class="option-container">
    <div>
      <%= link_to image_tag('rocket.svg', :class=>"split-icon"), new_kondo_path(:location => @location) %>
    </div>
    <div class="subtext-container">
      <p>Kondonate stuff</p>
    </div>
  </div>
  <div class="option-container">
    <div>
      <%= link_to image_tag('map.svg', :class=>"split-icon"), kondos_path(:location => @location) %>
    </div>
    <div class="subtext-container">
      <p>Browse Kondos nearby</p>
    </div>
  </div>
</div>
