.btn-main {
  color: $white;
  background-color: $kondocyan;
  border: 1px solid $kondocyan;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-main:hover {
  opacity: 0.6;
  color: $white;
}

.btn-ghost {
  color: $white;
  border: 1px solid $white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: $white;
}

.btn-delete {
  color: $white;
  background-color: $kondored;
  border: 1px solid $kondored;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-delete:hover {
  opacity: 0.6;
  color: $white;
}

.btn-contact {
  font-weight: bold;
  width: 360px;
  margin: 25px 0;

}

.btn-main-grid {
  color: $white;
  background-color: $kondocyan;
  border: 1px solid $kondocyan;
  padding: 4px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  font-size: 14px;
  font-weight: bold;
}

.btn-main-grid:hover {
  opacity: 0.6;
  color: $white;
}

.btn-contact-grid {
  font-weight: regular;
  width: 225px;
  margin: 5px 0;

}
