.form {
  border-radius:10px;
  padding:30px 40px;

}
.form-field {
  background-color: $kondopurple;
  border-bottom-width: 1px;
  border-bottom-color: $white;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: $white;
}
