.form {
  border-radius:10px;
  padding:30px 40px;
  input {
    &::placeholder {
      color: white;
    }
  }
  textarea {
    &::placeholder {
      color: white;
    }
  }
}
.form-field {
  background-color: $kondopurple;
  border-bottom-width: 1px;
  border-bottom-color: $white;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: $white;
}

#title-input:focus, #description-input:focus, #location-input:focus {
  color: $white;
  background-color: $kondopurple;
  border-color: $kondopurple;
  border-bottom-color: $white;
  box-shadow: 0 0 0 0rem $white
}


.form-control.is-valid, .form-control.is-invalid  {
  border-color: $white;
}

.invalid-feedback {
  color: $white;

}

.preview-image-container {
  // background-color: $light-gray;
  // opacity: 0.5;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: $white;
  width: 280px;
  height: 80px;
  padding-left: 10px;
  padding-top: 10px;
  margin: 0px;


}

#photo-preview {
  border-radius: 3px;
  margin-right: 10px;
}

.preview-image-dummy {
  // background-color: $white;
  // opacity: 0.7;
  border-radius: 3px;
  border-style: dashed;
  border-color: $white;
  width: 59px;
  height: 59px;
  border-width: 2px;
  text-align: center;
  color: $white;
}

#photo-title {
  margin-bottom: 0px;
  color: $white;
}
