.kondo-nav {
  justify-content: space-between;
  background: transparent;
}

.kondo-link {
  font-size: 32px;
  color: white;
}

.kondo-link:hover {
  text-decoration: none;
  opacity: 1;
  color: grey;
}

.dropdown-menu {
  border-radius: 8px;
}

