<div class="container">
  <div class="row justify-content-center">
      <div class="col-6">
        <h2>Provide additional information on your Kondo</h2>
        <%= render "form", kondo: @kondo %>
      </div>
  </div>
</div>


<% if @kondo.reserved == "false" %>
  <%= link_to(kondo_path(@kondo.id, reserved: true), method: :patch)  %>
<% else %>
  <%= link_to(kondo_path(@kondo.id, reserved: false), method: :patch)  %>
<%= @kondo.reserved %>
