
<div class="container mt-5">
  <h5 style="font-weight: bold">Kondos nearby</h5>
  <p style="font-size: 14px; color: white">Browse through the things other people in your neighborhood don't need anymore.</p>
  <div class="kondos-container">
    <% @kondos.each do |kondo| %>
      <%#= render 'shared/grid-card', :kondo => kondo %>

    <% end %>
    <div class="card-wrapper">
      <p>TEST</p>
      <#%= render 'kondos/random', :kondo => @kondo %>
    </div>
    <div>
      <button class="random-button">Klick</button>
    </div>
  </div>
</div>
