<div class="main-container">
  <div class="row new-kondo-form">
      <div class="col-6">
        <div style="text-align: left; margin-left: 38px">
          <h5 style="font-weight: bold">What do you want to kondonate?</h5>
        </div>
        <%= render "form", kondo: @kondo %>
      </div>
  </div>
</div>
