<div class="main-container">
  <div class="row justify-content-center">
      <div class="col-6">
        <h3>What do you want to kondonate?</h3>
        <%= render "form", kondo: @kondo %>
      </div>
  </div>
</div>
